option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "mellow"
    MASTER_KEY: "myMasterKey"
    DATABASE_URI: "mongodb://heroku_5hl4wrlw:lki2ekisovl3d8ega4d7k36iad@ds147304.mlab.com:47304/heroku_5hl4wrlw"
    NODE_ENV: "production"
    SERVER_URL: "http://mellow-h7.herokuapp.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"